Portrait of an ESTP - Extraverted Sensing Thinking Perceiving (Extraverted
Sensing with Introverted Thinking) The Doer As an ESTP, your primary mode of
living is focused externally, where you take things in via your five senses in a
literal, concrete fashion. Your secondary mode is internal, where you deal with
things rationally and logically. ESTP's are outgoing, straight-shooting types.
Enthusiastic and excitable, ESTP’s are "doers" who live in the world of action.
Blunt, straight-forward risk-takers, they are willing to plunge right into
things and get their hands dirty. They live in the here-and-now, and place
little importance on introspection or theory. They look at the facts of a
situation, quickly decide what should be done, execute the action, and move on
to the next thing. ESTP’s have an uncanny ability to perceive people's attitudes
and motivations. They pick up on little cues which go completely unnoticed by
most other types, such as facial expressions and stance. They're typically a
couple of steps ahead of the person they're interacting with. ESTP’s use this
ability to get what they want out of a situation. Rules and laws are seen as
guidelines for behavior, rather than mandates. If the ESTP has decided that
something needs to be done, then their "do it and get on with it" attitude takes
precedence over the rules. However, the ESTP tends to have their own strong
belief in what's right and what's wrong, and will doggedly stick to their
principles. The Rules of the Establishment may hold little value to the ESTP,
but their own integrity mandates that they will not under any circumstances do
something which they feel to be wrong. ESTP’s have a strong flair for drama and
style. They're fast-moving, fast-talking people who have an appreciation for the
finer things in life. They may be gamblers or spendthrifts. They're usually very
good at story telling and improvising. They typically make things up as they go
along, rather than following a plan. They love to have fun, and are fun people
to be around. They can sometimes be hurtful to others without being aware of it,
as they generally do not know and may not care about the effect their words have
on others. It's not that they don't care about people; it's that their
decision-making process does not involve taking people's feelings into account.
They make decisions based on facts and logic. ESTP's least developed area is
their intuitive side. They are impatient with theory, and see little use for it
in their quest to "get things done". An ESTP will occasionally have strong
intuitions which are often way offbase, but sometimes very lucid and positive.
The ESTP does not trust their instincts, and is suspicious of other people's
intuition as well. The ESTP often has trouble in school, especially higher
education which moves into realms where theory is more important. The ESTP gets
bored with classes in which they feel they gain no useful material which can be
used to get things done. The ESTP may be brilliantly intelligent, but school
will be a difficult chore for them. The ESTP needs to keep moving, and so does
well in careers where he or she is not restricted or confined. ESTP’s make
extremely good salespersons. They will become stifled and unhappy dealing with
routine chores. ESTP’s have a natural abundance of energy and enthusiasm, which
makes them natural entrepreneurs. They get very excited about things, and have
the ability to motivate others to excitement and action. The can sell anyone on
any idea. They are action-oriented, and make decisions quickly. All-in-all, they
have extraordinary talents for getting things started. They are not usually so
good at following through, and might leave those tasks to others. Mastering the
art of following through is something which ESTP’s should pay special attention
to. ESTP’s are practical, observant, fun-loving, spontaneous risk-takers with an
excellent ability to quickly improvise an innovative solution to a problem.
They're enthusiastic and fun to be with, and are greatmotivators. If an ESTP
recognizes their real talents and operates within those realms, they can
accomplish truly exciting things. Jungian functional preference ordering:
Dominant: Extraverted Sensing Auxiliary: Introverted Thinking Tertiary:
Extraverted Feeling Inferior: Introverted Intuition ESTP’s generally have the
following traits:  Action-oriented  Live in the present moment  Dislike abstract
theory without practical application  Like to see immediate results for their
efforts  Fast-paced and energetic  Flexible and adaptable  Resourceful  Seldom
work from a plan - make things up as they go  Fun to be around  Highly observant
 Excellent memory for details  Excellent people skills  Good-natured  Excellent
ability to see an immediate problem and quickly devise a solution  Attracted to
adventure and risk  May be flashy or showy  Like initiating things - not
necessarily following them through to completion ESTP’s have some advantageous
traits which are unique to their personality type. Their skills of observation
make them extremely good at correctly analyzing and assessing other peoples'
motives or perspectives. Their people skills allow them to use this knowledge to
their advantage while interacting with people. For this reason, ESTP’s are
excellent salespeople. They also have a special ability to react quickly and
effectively to an immediate need, such as in an emergency or crisis situation.
This is a valuable skill in many different professions, perhaps most notably in
action-oriented professions, such as police work. ESTP’s enjoy new experiences
and dealing with people, and dislike being confined in structured or regimented
environments. They also want to see an immediate result for their actions, and
don't like dealing with a lot of high-level theory where that won't be the case.
For these reasons, they should choose careers which involve a lot of interaction
with people, and do not require performing a lot of routine, detailed tasks.
ESTP Relationships ESTP’s are gregarious and fun-loving individuals who want to
make the most of every moment. They love action, and always seem to be doing
something. This enthusiasm is carried over to their personal relationships,
which they approach with the desire to make the most of their relationships on a
daily basis. They tend to get bored easily, and may be prone to switching
relationships frequently unless they find an outlet for their boredom elsewhere.
They approach life on a day-by-day basis, so long-term commitments are not
naturally comfortable for the ESTP. They may feel tremendously committed, but
they want to take their commitments day by day. ESTP Strengths  Can be quite
charming  Witty, clever, and popular  Earthy and sensual  Not personally
threatened by conflict or criticism Excellent and clear-headed dealing with
emergency situations  Enthusiastic and fun-loving, they try to make everything
enjoyable  As "big kids" themselves, they're eager, willing and able to spend
time with their kids  Likely to enjoy lavishing their loved ones with big gifts
(both a strength and a weakness) ESTP Weaknesses  Not naturally in tune with
what others are feeling  Not naturally good at expressing feelings and emotions 
May inadvertently hurt others with insensitive language  May be very good with
money, but highly risky with it as well  Living in the present, they're not
usually good long-range planners  May fall into the habit of ignoring conflict,
rather than solving it  Don't naturally make lifelong commitments - they take
things one day at a time  Prone to get bored easily  More likely than other type
to leave relationships quickly when they get bored  Likely to enjoy lavishing
their loved ones with big gifts (both a strength and a weakness) What does
Success mean to an ESTP? With a dominant function of Extraverted Sensing, and an
auxiliary function of Introverted Thinking, people with the ESTP personality
type have a heightened need for sensory experience and for tactile engagement
with their physical environment. The ESTP is most comfortable when they can
treat life as a big game in which they must be quick to use their skills in
order to win. In such a game-playing scenario, the ESTP is most likely to be the
winner, as no other personality type is as quick on their feet as the ESTP.
ESTP’s have an amazingly ability to size up people in an instant and come up
with an accurate ballpark understanding of where they are coming from. The ESTP
cannot help using this skill, it is natural for them, but it brings them great
satisfaction to be able to use this skill to enact some personal gain, or to
“win the game.” The ESTP is also strongly driven to tangibly interact with their
immediate physical environment. This need manifests itself in many ways, most
commonly as an attraction to sports or physical challenges, and as a desire to
always be doing something. ESTP’s are the great Doers. If you want to make
something happen quickly, ask an ESTP. These inherent skills make the ESTP
likely to find success professionally as salespeople or professional athletes.
However, any career that capitalizes on their people skills or their ability to
maneuver within their physical world AND gives them immediate feedback is likely
to be a good fit for the ESTP. The ESTP’s need to be engaged with their
immediate, external world makes success on a personal level more challenging.
They feel happiest when they are outside of themselves, but personal success
requires going within to get to know the self. However, once these needs are
recognized, they are not mutually exclusive. The ESTP who feeds their constant
drive for new sensory experiences as well as their need for real reflection upon
those experiences and impressions will find a deeper level of personal
satisfaction than the ESTP who allows his immediate needs for sensory
experiences to yank him about. However, even those ESTP’s who have developed
their ability to reflect on matters will always be connected at some base level
to the strong desire for new experiences, and will get their “bread and butter”
feelings of success from conquering challenges in their physical environment.
ESTP’s need to know they’ve got the goods, won the moment, done the job. Once
given a task that intrigues them, or having discovered something new to be
tried, very little will stop them from doing all they can to meet the challenge,
and thereby achieve what they consider to be a personal success. Success to an
ESTP is usually not measured in ongoing terms, but in transient moments of
achievement, moments which bring the ESTP the needed feeling of having won the
day
