Portrait of an ISTP Introverted Sensing Thinking Perceiving (Introverted
Thinking with Extraverted Sensing) The Mechanic As an ISTP, your primary mode of
living is focused internally, where you deal with things rationally and
logically. Your secondary mode is external, where you take things in via your
five senses in a literal, concrete fashion. ISTP's have a compelling drive to
understand the way things work. They're good at logical analysis, and like to
use it on practical concerns. They typically have strong powers of reasoning,
although they're not interested in theories or concepts unless they can see a
practical application. They like to take things apart and see the way they work.
ISTP’s have an adventuresome spirit. They are attracted to motorcycles,
airplanes, sky diving, surfing, etc. They thrive on action, and are usually
fearless. ISTP’s are fiercely independent, needing to have the space to make
their own decisions about their next step. They do not believe in or follow
rules and regulations, as this would prohibit their ability to "do their own
thing". Their sense of adventure and desire for constant action makes ISTP’s
prone to becoming bored rather quickly. ISTP’s are loyal to their causes and
beliefs, and are firm believers that people should be treated with equity and
fairness. Although they do not respect the rules of the "System", they follow
their own rules and guidelines for behavior faithfully. They will not take part
in something which violates their personal laws. ISTP’s are extremely loyal and
faithful to their "brothers". ISTP’s like and need to spend time alone, because
this is when they can sort things out in their minds most clearly. They absorb
large quantities of impersonal facts from the external world, and sort through
those facts, making judgments, when they are alone. ISTP’s are action-oriented
people. They like to be up and about, doing things. They are not people to sit
behind a desk all day and do long-range planning. Adaptable and spontaneous,
they respond to what is immediately before them. They usually have strong
technical skills, and can be effective technical leaders. They focus on details
and practical things. They have an excellent sense of expediency and grasp of
the details which enables them to make quick, effective decisions. ISTP’s avoid
making judgments based on personal values - they feel that judgments and
decisions should be made impartially, based on the fact. They are not naturally
tuned in to how they are affecting others. They do not pay attention to their
own feelings, and even distrust them and try to ignore them, because they have
difficulty distinguishingbetween emotional reactions and value judgments. This
may be a problem area for many ISTP’s. An ISTP who is over-stressed may exhibit
rash emotional outbursts of anger, or on the other extreme may be overwhelmed by
emotions and feelings which they feel compelled to share with people (often
inappropriately). An ISTP who is down on themselves will foray into the world of
value judgments - a place which is not natural for the ISTP - and judge
themselves by their inability to perform some task. They will then approach the
task in a grim emotional state, expecting the worst. ISTP’s are excellent in a
crisis situations. They're usually good athletes, and have very good hand-eye
coordination. They are good at following through with a project, and tying up
loose ends. They usually don't have much trouble with school, because they are
introverts who can think logically. They are usually patient individuals,
although they may be prone to occasional emotional outbursts due to their
inattention to their own feelings. ISTP’s have a lot of natural ability which
makes them good at many different kinds of things. However, they are happiest
when they are centered in action-oriented tasks which require detailed logical
analysis and technical skill. They take pride in their ability to take the next
correct step. ISTP’s are optimistic, full of good cheer, loyal to their equals,
uncomplicated in their desires, generous, trusting and receptive people who want
no part in confining commitments. Jungian functional preference ordering:
Dominant: Introverted Thinking Auxiliary: Extraverted Sensing Tertiary:
Introverted Intuition Inferior: Extraverted Feeling ISTP’s generally have the
following traits:  Interested in how and why things work  Do not function well
in regimented, structured environments; they will either feel stifled or become
intensely bored  Constantly gather facts about their environment and store them
away  Have an excellent ability to apply logic and reason to their immense store
of facts to solve problems or discover how things work  Learn best "hands-on" 
Usually able to master theory and abstract thinking, but don't particularly like
dealing with it unless they see a practical application  Action-oriented "doers"
 Focused on living in the present, rather than the future  Love variety and new
experiences  Highly p
