<div class="d-flex  text-center">
  <h2>
    Educational Resources
  </h2>
</div>
<div class="div container-fluid px-5 clear-fix mb-5">
  <div class="row" style="height:240px">
    <div class="col-md-3 pr-2">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe
          src="https://www.youtube.com/embed/WhMmZJ3H1E8"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    <div class="col-md-3 pl-2">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe
          src="https://www.youtube.com/embed/xuM7ZS7nodk"
          frameborder="1"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    <div class="col-md-3 pr-2">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe
          src="https://www.youtube.com/embed/gh5VhaicC6g"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>

<div class="contrainer px-4 mt-5">
  <h2>
    Psychological Tools ( courtest of www.psychologytools.com ( non-comercial
    use permission)
  </h2>
  <div class="row">
    <div class="col-md-4 ">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Fact Or opinion</h5>

          <p
            class="card-text d-inline-block text-truncate text-wrap text-justify"
          >
            Much of the time we respond to our thought processes as if they
            reflect facts about the world, whereas they more often represent
            opinions or assumptions. Being able to tell the difference between
            facts and opinions is a critical skill in cognitive behavioral
            therapy (CBT). Balanced thinking comes from the process of
            challenging our thinking – analyzing what it is that we think we
            know and why it is that we know it. Fact Or Opinion is a quick
            worksheet which helps clients differentiate between facts and
            opinions – a useful starting-point in challenging their own
            thinking. Cognitive Restructuring Tools ( Courtesy of
            Psychologytools.com ( non-comercial/personal use)
          </p>
          <a href="#" class="card-link"><img src=".."/></a>
        </div>
      </div>
    </div>
    <div class="col-md-4 ">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Compassionate Thought Challenging Record</h5>

          <p class="card-text">
            Thought challenging records are commonly used in CBT to help people
            to evaluate their negative automatic thoughts for accuracy and bias.
            This Compassionate Thought Challenging Record encourages cognitive
            restructuring from a compassionate perspective.
          </p>
          <a href="#" class="card-link"><img src=".."/></a>
        </div>
      </div>
    </div>

    <div class="col-md-4 ">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Compassionate Thought Challenging Record</h5>

          <p class="card-text">
            Cognitive behavioral theory proposes that our thoughts, feelings,
            and behavior in the here-and-now are influenced by our schemas /
            core beliefs / assumptions. This case conceptualization
            (formulation) diagram helps therapists and clients to explore these
            influences
          </p>
          <a href="#" class="card-link"><img src=".."/></a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 ">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Functional Analysis</h5>

          <p class="card-text">
            Functional analysis examines the causes and consequences of
            behavior. This classic A-B-C Functional Analysis worksheet can be
            used to collect information about what came before a behavior
            (antecedents), the behavior itself, and the consequences of the
            behavior.
          </p>
          <a href="#" class="card-link"><img src=".."/></a>
        </div>
      </div>
    </div>

    <div class="col-md-4 ">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">
            Cross Sectional Formulation
          </h5>

          <p class="card-text">
            Case conceptualizations (formulations) helps to come to a shared
            understanding of a problem. This Cross Sectional Formulation
            explores the interactions between a situation, thoughts, emotions,
            body sensations and behaviors.
          </p>
          <a href="#" class="card-link"><img src=".."/></a>
        </div>
      </div>
    </div>
  </div>
</div>
